:root {
    --main-background-color: #f5f5f5;
    --title-color: #cccccc;
    --background-light-color: #ffffff;
    --hover-background-color: #fafafa;
    --active-backround-color: #f6f6f6;
    --main-text-color: #666666;
    --action-bar-text-color: #888888;
    --shadow-color: #e6e6e6;
    --border-checked-color: #ebdfdf;
    --main-light-text-color: #cccccc;
    --green-color: #5dc2af;
}