* {
	margin: 0;
}

body {
	background: rgb(245,245,245);
}

ul {
	list-style:none;
    padding:0;
    margin:0;
}

.todo-app {
	display: flex;
	flex-direction: column;

	color: #666666;
	margin-top: 5%;
	margin-bottom: 10%;
	display: flex;
	align-items: center;
  	justify-content: center;

    font-family: Roboto, sans-serif;
	font-style:	normal;

	font-size: 24px;
	font-weight: 200;
}

.title {
    text-transform: lowercase;
	width: 245px;
	height: 21px;
	margin-bottom: 40px;

	font-weight: 200;
	font-size: 100px;
	line-height: 21px;

	color: #CCCCCC;
}

.todo-app__frame {
	width: 562px;
	min-height: 402px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.todo-app__frame:after {
	content: '';
	position: absolute;
	width: 558px;
	min-height: 405px;
	left: calc((100% - 562px) / 2 + 2px);
	z-index: -1;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-app__frame:before {
	content: '';
	position: absolute;
	width: 554px;
	min-height: 407px;
	left: calc((100% - 562px) / 2 + 4px);
	z-index: -2;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.todo-app__main-controls {
	height: 66px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 10px;
	box-shadow: inset 0px -1px 0px #E6E6E6;
}


.todo-app__tasks {
	min-height: calc(402px - 66px - 43px);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.task-item__view {
	word-break: break-all;
	align-items: center;
	padding-left: 10px;
	min-height: 64px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: inset 0px -1px 0px #E6E6E6;
}

.task-item__delete {
	width: 40px;
	height: 40px;
	background-color: #FAFAFA;
	background-image: url("icons/close@2x.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	border: none;
	display: none;
	transition: all 0.5s ease-out;
}

.task-item__view:hover .task-item__delete {
	display: block;
	cursor: pointer;
}

.task-item__delete:hover {
	transform: scale(1.2);
}

.task-item__view:hover, .task-item__view:focus, .task-item__status:focus {
	background: #FAFAFA;
}


.todo-app__actions-bar {
	height: 43px;
	display: flex;
	flex-direction: row;
	padding: 0px 10px;
	justify-content: space-between;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	color: #888888;
	box-shadow: inset 0px 1px 0px #E6E6E6;
}

.task-item__status, .task-filter__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.task-item__status + .task-item__text {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.task-item__text:hover {
	cursor: pointer;
}

.task-item__status + .task-item__text::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.task-item__status:checked+.task-item__text::before {
	border-color: #5DC2AF;
	background-image: url("icons/completed@2x.png");
}

.task-item__status:checked+.task-item__text {
	text-decoration: line-through;
	color: #CCCCCC;
}

.task-clear-completed {
	border: none;
	font-size: 14px;
	font-weight: 300;
	font-size: 14px;
	color: #888888;
	background: #FFFFFF;
	font-family: Roboto, sans-serif;
	font-style:	normal;
}

.task-clear-completed:active, .task-clear-completed:focus, .main-controls__select-all-button:active, .main-controls__select-all-button:focus, .main-controls__create-new-input:active, .main-controls__create-new-input:focus, .task-item__delete:active, .task-item__delete:focus {
  	outline: none;
}

.task-clear-completed:hover {
	color: #666666;
	cursor: pointer;
}

.main-controls__select-all-button {
	display: flex;
	border: none;
	width: 30px;
  	height: 16px;
  	background: #FFFFFF;
   	background-repeat: no-repeat;
  	background-position: center center;
   	background-image: url("icons/select-all.png");
   	margin-right: 10px;
   	margin-left: 5px;
}


.main-controls__select-all-button:hover {
	cursor: pointer;
}


.main-controls__create-new {
	flex: 1;
	padding-right: 5px;
}

.main-controls__create-new-input {
	width: 100%;
	height: 100%;
	font-weight: 300;
	font-size: 24px;
	color: #666666;
	font-family: Roboto, sans-serif;
	border: 0;
}

::-webkit-input-placeholder { /* Chrome */
   	color: #CCCCCC;
   	font-style: italic;
}


:-ms-input-placeholder { /* IE 10+ */
  	color: #CCCCCC;
   	font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  	color: #CCCCCC;
   	font-style: italic;
 	opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
 	color: #CCCCCC;
   	font-style: italic;
  	opacity: 1;
}

/* для элемента input c type="radio" */
.task-filter__item>.task-filter__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.task-filter__item>.task-filter__text {
  display: inline-flex;
  align-items: center;
  user-select: none;
  border-radius: 0.2em;
  margin: 0 5px;
  padding: 2px;
  cursor: pointer;
}

/* стили при наведении курсора на радио */
.task-filter__item>.task-filter__input:not(:disabled):not(:checked)+.task-filter__text:hover {
  color: #666666;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.task-filter__item>.task-filter__input:not(:disabled):active+.task-filter__text {
  border: 1px solid #666666;
  color: #666666;
}

/* стили для радиокнопки, находящейся в фокусе */
.task-filter__item>.task-filter__input:focus+.task-filter__text {
  color: #666666;
}


/* стили для радиокнопки, находящейся в состоянии checked */
.task-filter__item>.task-filter__input:checked+.task-filter__text {
  border: 1px solid #EBDFDF;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.task-filter__item>.task-filter__input:disabled+.task-filter__text {
  border: 0;
}

