:root {
	--background-light-color: #ffffff;
	--hover-background-color: #fafafa;
  	--main-light-text-color: #cccccc;
  	--main-text-color: #666666;
  	--shadow-color: #e6e6e6;
}

.todo-app__main-controls {
	height: 66px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
	border-bottom: solid 1px var(--shadow-color);
	position: sticky;
  	top: 0;
  	background: var(--background-light-color);
}

.main-controls__select-all-button {
	transition: all 0.2s ease-out;
	display: flex;
	border: none;
	width: 42px;
  	height: 42px;
  	background: none;
   	background-repeat: no-repeat;
  	background-position: center center;
   	background-image: url("../asset/select-all.svg");
   	margin-right: 12px;
   	border-radius: 10px;
}

.main-controls__create-new {
	flex: 1;
	height: 100%;
	background-color: var(--background-light-color);

}

.main-controls__create-new-input {
	width: 100%;
	height: 100%;
	font-weight: 300;
	font-size: 24px;
	color: var(--main-text-color);
	font-family: Roboto, sans-serif;
	border: 0;
	padding: 0;
	height: 100%;
	background-color: var(--background-light-color);
}

.main-controls__create-new-input::placeholder {
   	color: var(--main-light-text-color);
   	font-style: italic;
}

.main-controls__select-all-button:hover, .main-controls__select-all-button:focus {
	cursor: pointer;
	background-color: var(--hover-background-color);
	transform: scale(1.2);
}

.main-controls__select-all-button:focus, .main-controls__create-new-input:focus, .main-controls__create-new-input:active, .main-controls__select-all-button:active {
	transition: all 0.2s ease-out;
	outline-width: 1px;
	outline-color: var(--main-text-color);
}